USE [master]
GO
/****** Object:  Database [LMSone]    Script Date: 01-09-2022 14:09:24 ******/
CREATE DATABASE [LMSone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMSone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LMSone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LMSone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LMSone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMSone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMSone]
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 01-09-2022 14:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Mname] [varchar](30) NULL,
	[emp_name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[manager_id] [int] NULL,
	[LeaveType] [varchar](120) NOT NULL,
	[LeavesInHand] [int] NOT NULL,
	[NoOfDays] [int] NOT NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[LeaveStatus] [varchar](50) NOT NULL,
	[LeaveDescription] [varchar](450) NULL,
	[Passwrd] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 01-09-2022 14:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[manager_id] [int] NOT NULL,
	[Mname] [varchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[manager_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[Manager] ([manager_id])
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD CHECK  (([NoOfDays]<=[LeavesInHand]))
GO
USE [master]
GO
